@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;

  /* Pro Gray Palette */
  --color-pro-950: #0f0f10;
  /* Deepest Background */
  --color-pro-900: #18181b;
  /* Surface */
  --color-pro-800: #27272a;
  /* Borers */
  --color-pro-400: #a1a1aa;
  /* Muted Text */

  /* Brand Accents */
  --color-brand-yellow: #facc15;
  --color-brand-orange: #f97316;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-pro-800);
  border-radius: 9999px;
  border: 2px solid var(--color-pro-950);
  /* Creates padding effect */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-pro-400);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Vidstack Custom Primitives Sync Fix */
/* These map Vidstack's internal CSS variables to our custom UI elements */

[data-media-player][data-layout='video']:not([data-fullscreen]) {
    border: none !important;
}

[data-media-player][data-layout='video'] {
    background-color: #131313 !important;
}

[data-media-player] {
  --media-brand: var(--color-brand-yellow);
}

/* Simple Slider Synchronization for Primitives */
[data-media-slider] [data-part="track"] {
  background-color: rgba(255, 255, 255, 0.1);
}

[data-media-slider] [data-part="track-fill"] {
  background-color: var(--media-brand, #facc15);
  width: var(--slider-fill);
}

[data-media-slider] [data-part="progress-fill"] {
  background-color: rgba(255, 255, 255, 0.15);
  width: var(--slider-progress);
}

[data-media-slider] [data-part="thumb"] {
  left: var(--slider-fill);
  transform: translateX(-50%);
}

/* Specific color for Volume Slider */
[data-media-volume-slider] [data-part="track-fill"] {
  background-color: white;
}

body {
  background-color: var(--color-pro-950);
  color: white;
  font-family: var(--font-sans);
  overflow: hidden;
  /* App-like feel */
}