@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;

  /* Pro Gray Palette */
  --color-pro-950: #0f0f10;
  /* Deepest Background */
  --color-pro-900: #18181b;
  /* Surface */
  --color-pro-800: #27272a;
  /* Borers */
  --color-pro-400: #a1a1aa;
  /* Muted Text */

  /* Brand Accents */
  --color-brand-yellow: #facc15;
  --color-brand-orange: #f97316;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-pro-800);
  border-radius: 9999px;
  border: 2px solid var(--color-pro-950);
  /* Creates padding effect */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-pro-400);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-pro-950);
  color: white;
  font-family: var(--font-sans);
  overflow: hidden;
  /* App-like feel */
}